.Container {
  height: 100%;
  padding: 53px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #5920d1;

  .Card {
    width: 680px;
    height: 775px;

    background: #ffffff;
    box-shadow: 0px 4px 80px rgba(0, 0, 0, 0.3);
    border-radius: 12px;

    padding: 60px 100px 60px 100px;

    .LoginIcon {
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 110px;
        height: 110px;
      }
    }

    .Title {
      margin-top: 12px;
      height: 45px;

      font-style: normal;
      font-weight: normal;
      font-size: 32px;
      line-height: 140%;
      text-align: center;
      color: #222222;

      display: flex;
      justify-content: center;
      align-items: center;
    }

    .InputContainer {
      margin-top: 60px;
      position: relative;

      .PasswordInput {
        margin-top: 40px;
      }

      .CaptchaInput {
        position: relative;
        margin-top: 20px;
        .checkBtn {
          position: absolute;
          right: 0;
          bottom: 2px;
          font-weight: 500;
          font-size: 18px;
          line-height: 140%;
          text-align: right;
          color: #055aff;
        }
        .TryagainBtn {
          position: absolute;
          right: 0;
          top: 35px;

          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 140%;
          text-align: right;
          color: #ff2020;
          cursor: pointer;
        }
        .Error {
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 140%;
          color: #ff2020;
        }
      }
      .Error {
        position: absolute;
        left: 5px;
        bottom: -22px;

        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 140%;
        color: #ff2020;
      }
    }

    .FindBtnGroup {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 40px;

      .FindID {
        width: 47px;
        height: 22px;
        div {
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 140%;
          text-align: right;
          color: #838a94;
        }
      }

      .Bar {
        width: 1px;
        height: 14px;
        background: #cdd4dc;
        margin-left: 12px;
        margin-right: 12px;
      }

      .FindPassword {
        width: 98px;
        height: 22px;
        cursor: pointer;

        div {
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 140%;
          color: #838a94;
        }
      }
    }

    .Captcha {
      width: 480px;
      height: 110px;

      background: #f9fafc;
      border: 1px solid #cdd4dc;
      box-sizing: border-box;
      border-radius: 2px;

      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      margin-top: 40px;

      .refresh {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 36px;
        height: 36px;
        background: #464e62;

        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        .vector {
          width: 19.35px;
          height: 17.95px;
        }
      }
    }

    .ButtonGroup {
      margin-top: 52px;

      display: flex;
      justify-content: space-between;
      .Back {
        width: 234px;
        height: 64px;

        border: none;
        border: 1px solid #000000;
        box-sizing: border-box;
        filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.18));
        border-radius: 4px;
      }

      .Next {
        width: 234px;
        height: 64px;

        display: flex;
        justify-content: center;
        align-items: center;

        border: none;
        background: #838a94;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.18);
        border-radius: 4px;
        pointer-events: none;

        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 140%;
        text-align: center;

        color: #e6eaef;

        &.active {
          background: #222222;
          color: #ffffff;
          pointer-events: auto !important;
          cursor: pointer;
        }
      }
    }

    .LoginBtn {
      width: 480px;
      height: 64px;
      background: #222222;
      box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.18);
      border-radius: 4px;
      border: none;
      margin-top: 40px;

      display: flex;
      justify-content: center;
      align-items: center;

      .Text {
        width: 53px;
        height: 25px;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 140%;
        text-align: center;

        color: #ffffff;
      }
    }

    .Footer {
      display: flex;
      margin-top: 18px;
      .Quiz {
        width: 157px;
        height: 22px;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 140%;
        color: #838a94;
      }
      .Register {
        width: 61px;
        height: 22px;

        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 140%;
        color: #5920d1;

        cursor: pointer;
      }
    }
  }
}
